<%- include("../partials/header") %>
<h5>current user:<%= currentUser %></h5>

<h3>Player Directory</h3>

<% players.forEach(function(player){ %>
<ul>
  <li>
  <a href="players/<%=player.id%>"><%=player.firstname%> <strong><%=player.lastname%> </strong>
  </a><%=player.team%>
  <a href="../players/<%=player.id%>/edit"> [edit] </a></li>
</ul>
<% }) %>
<p> ----------  </p>
<a href="../players/new">add player (to be removed, add player only from showteam)</a>
<p> ----------  </p>
<%- include("../partials/footer") %>
