<%- include("../partials/header") %>
<h3>all the teams</h3>
<h1>
current user:
  <%= currentUser %>

</h1>

<h3>all the players</h3>



<% players.forEach(function(player){ %>
<ul>

  <a href="players/<%=player.id%>">
    <li><strong><%=player.firstname%></strong></li>
  </a>
  <a href="players/<%=player.id%>">
    <li><strong><%=player.lastname%></strong></li>
  </a>

  <li><%=player.team%> contact info</li>
  <a href="../players/<%=player.id%>/edit">edit this player</a>
</ul><br>

  <% }) %>

  <a href="../players/new">add player</a><br><br>
<%- include("../partials/footer") %>
