<%- include("../partials/header") %>
<h5><%=player%></h5>
<form class="ui form" action="/players/<%=player.id%>?_method=PUT" method="post" >

  <div class="">
    <label>Player First Name</label>
    <input type="text" name="firstname" value="<%=player.firstname%>">
  </div>
  <div class="">
    <label>Player Last Name</label>
    <input type="text" name="lastname" value="<%=player.lastname%>">
  </div>
  <div class="">
    <label>Player Image</label>
    <input type="text" name="image" value="<%=player.image %>">
  </div>
  <div class="">
      <label>Gender</label>
      <select class="" name='gender'>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>



  <div class="inline field">
      <label>Teams</label>
      <select class="" name='team'>
        <% teams.forEach(function(team){ %>

          <option name="<%=team.name%>"><%= team.name %></option>

        <% }) %>


      </select>
    </div>

  <button class="ui button" type="submit">Submit</button>


</form>

<form class="" action="/players/<%=player.id%>?_method=DELETE" method="post" >
<button type="submit" name="button">Delete Player</button>
</form>

<%- include("../partials/footer") %>
