<%- include("../partials/header") %>
<br>
<br>

<h2>this is the captain manually add player portal</h2>
<h3>newplayer.ejs</h3>
<% if(currentUser){ %>
  <h3>ADD-I'm sorry only a captain or admin can add players</h3>
  <h5><%= currentUser %></h5>

  <form class="" action="/players" method="post" >
    <div class="inline field">
      <label>new player email:</label>
      <input type="text" name="username" value="thisplayer@gmail.com" >
    </div>

    <div class="">
      <label>Player First Name</label>
      <input type="text" name="firstname" value="first name">
    </div>

    <div class="">
      <label>Player Last Name</label>
      <input type="text" name="lastname" value="last name">
    </div>
    <div class="">
      <label>Gender</label>
      <select class="" name='gender'>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>

    <div class="">
      <label>Player Image</label>
      <input type="text" name="image" value="enter a img url">
    </div>

    <div class="">
      <label><%= currentUser.team %></label>
      <input type="text" name="team" value="<%= currentUser.team %>" readonly>

      </div>

    <% if(currentUser.isCaptain){ %>
      <p>you have captain status</p>
    <% } else { %>
    <div class="">
      <label>Captain Access?</label>
      <input type="text" name="captaincode" placeholder="False">
    </div>
    <%}%>

    <% if(currentUser.isAdmin){ %>
      <p>you have admin access</p>
      <% } else { %>
    <div class="">
      <label>Admin Access</label>
      <input type="text" name="admincode" placeholder="False">
    </div>
    <%}%>


      <button class="" type="submit">Submit</button>

    </form>

<% } else { %>
<h1>no current user logged in</h1>
<h5>please return to the initialize email section</h5>
<a href="/init">Initialize Email</a>
<%}%>






<%- include("../partials/footer") %>
