<%- include("../partials/header") %>


<h3>one player</h3>
<h5><%=player%></h5>
<img src="<%=player.image%>" width= "100px">
    <li>
      <a href="players/<%=player.id%>">
      <strong><%=player.firstname%> <%=player.lastname%></strong></a>
    </li>

  <li>TEAM:<%=player.team%></li>
  <a href="../players/<%=player.id%>/edit">[edit]</a>
<br><br>
  <a href="../players/new">add player</a><br><br>
<%- include("../partials/footer") %>
