<%- include("../partials/header") %>
<h3>Team Directory</h3>

<div class="display">
<% teams.forEach(function(team){ %>
<ul>
  <h2><a href="teams/<%=team.id%>"><li><strong><%=team.name%></strong></li></a></h2>
<a href="teams/<%=team.id%>"><img src="<%=team.image%>" width="75px"></a>
  <li>Captain: <%=team.captain%></li>
</ul>
  <% }) %>
  <p> ----------  </p>
  <a href="/teams/new">Enter a new Team</a>
  <p> ----------  </p>
</div>

<%- include("../partials/footer") %>
