<%- include("../partials/header") %>
<a href="/teams/new">Enter a new Team</a>


<h3>all the teams</h3>
<h1>
current user:
  <%= currentUser %>

</h1>


<% teams.forEach(function(team){ %>
<ul>

  <a href="teams/<%=team.id%>">
    <li><strong><%=team.name%></strong></li>
  </a>

  <li><%=team.captain%> contact info</li>
    <li><%=team.players%></li>
</ul><br>

  <% }) %>


<%- include("../partials/footer") %>
