<%- include("../partials/header") %>


<h3>a single team</h3>
<h3> <%= team %></h3>

<ul>
  <li><%= team.name %></li>
  <li>Captain: <%= team.captain %></li>

<img src="<%= team.image %>" width="150px" alt="">

  <li>Image: <%= team.image %></li>
  <li>captain phone: <%= team.phone%></li>
  <li>Players:</li>
  <% players.forEach(function(thisPlayer){ %>
  <li><%=thisPlayer.firstname%> <%=thisPlayer.lastname%><a href="../players/<%=thisPlayer.id%>">[ Bio ]</a></li>
  <%  }) %>
</ul>

    <a href="/signup">add player</a><br><br>
    <a href="../teams/<%=team.id%>/edit">edit this team</a>
    <%- include("../partials/footer") %>
