<%- include("../partials/header") %>
<h5> <%= team %></h5>

<ul>
  <li>Name: <%= team.name %></li>

<img src="<%= team.image %>" width="150px" alt="">
<li>Captain: <%= team.captain %></li>
  <li>Players:</li>
  <% players.forEach(function(thisPlayer){ %>
  <li><%=thisPlayer.firstname%> <%=thisPlayer.lastname%><a href="../players/<%=thisPlayer.id%>">[ Bio ]</a></li>
  <%  }) %>
</ul>

    <a href="/signup">add player</a><br><br>
    <a href="../teams/<%=team.id%>/edit">edit this team</a>
    <%- include("../partials/footer") %>
