<%- include("./partials/header") %>
<div class="news"><!-- begin news -->
<img src="../img/summersoftball2020.jpeg" alt="">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div><!-- end news -->

<hr>
<h1>game table here</h1>

<!-- sort games start  -->
<%
for (var i = 0;i<games.length;i++){
for (var j = 0;j<games.length;j++){
if ( Number(games[i].date.month) < Number(games[j].date.month) ){
var temp = games[i];
games[i] = games[j];
games[j] = temp;
}
}
}
%>

<%
for (var i = 0; i<games.length; i++){
for (var j = 0; j<games.length; j++){
if ( Number(games[i].date.day) < Number(games[j].date.day) && Number(games[i].date.month) === Number(games[j].date.month) ){
var temp = games[i];
games[i] = games[j];
games[j] = temp;
}
}
}
%>
<!-- sort games end  -->

<%
var date = new Date();
var currentYear = date.getFullYear();
var currentDate = date.getDate();
var currentWeekday = date.getDay();
var currentNxWeek = currentDate + 7;
var currentLstWeek = currentDate - 7;
var currentMonth = date.getMonth()+1;

var getDaysInMonth = date =>
  new Date(date.getFullYear(), date.getMonth() + 1, 0).getDate();

var daysThisMonth = getDaysInMonth(new Date(currentYear, date.getMonth()));

var gameCount = 0;
%>


<h4>
weekday(sunday is 0):'<%= currentWeekday %>'<br>
currentLstWeek:<%= currentLstWeek %><br>
current nx week:<%= currentNxWeek %><br>
currentmonth:<%= currentMonth %><br>
days in this month: <%= daysThisMonth %>

</h4>



<br>
<% games.forEach(function(game){%>

  <!-- if the game is on the same month then look for any game dates for the
  rest of the month-->

<% if (Number(game.date.month) === currentMonth){%>
<%  for (var i = currentDate; i <= daysThisMonth; i++){%>
<%  if (Number(game.date.day) === i && Number(game.date.day) <= currentNxWeek ){%>
<%=game.date%>
<br>
<%}%>
<%}%>
<%}%>


<!-- if days in this month - the current date = less than a week then check for early games next month-->
<% if (daysThisMonth - currentDate < 7){ %>
<% var nxMonth = currentMonth + 1; %>
<% var daysLeft = daysThisMonth - currentDate; %>

<% for (var i = 1; i <= daysLeft; i++){ %>
<% if ( Number(game.date.month) === nxMonth){ %>
<% if ( Number(game.date.day) === i) { %>
<%= game.date %>
<% } %>
<% } %>
<% } %>
<% } %>


<%})%>
<br>


<h2>This Weeks Games</h2>

<table>
<tr>
<th id="hometeam">Home Team</th>
<th><%= games[0].away %></th>
<th>Date</th>
<th>Field</th>
<th>Time</th>
</tr>

<tr>
<td>Wolves</td>
<td>Bengals</td>
<td>Jan 3rd</td>
<td>Field 2</td>
<td>630</td>
</tr>

<tr>
<td>Wolves</td>
<td>Bengals</td>
<td>Jan 3rd</td>
<td>Field 2</td>
<td>630</td>
</tr>
<tr>
<td>Wolves</td>
<td>Bengals</td>
<td>Jan 3rd</td>
<td>Field 2</td>
<td>630</td>
</tr>
<tr>
<td>Wolves</td>
<td>Bengals</td>
<td>Jan 3rd</td>
<td>Field 2</td>
<td>630</td>
</tr>
</table>
<br>



<%- include("./partials/footer.ejs") %>
