<%- include("../partials/header") %>

<h1>games list here</h1>

<ul>
<% games.forEach(function(game){ %>
<li>
  <%=game.home%> vs <%=game.away%>  @ <%=game.date%>
  <a href="games/<%=game.id%>">[view game]</a>
</li>
<% })%>
</ul>

<a href="games/new">new game</a>
<%- include("../partials/footer") %>
