<%- include("../partials/header") %>


<h4>you are about to edit this game:</h4>
<h4><%= game %> </h4>

<h3>
please enter the new game information:</h3>
<form class="" action="/games/<%=game.id%>?_method=PUT" method="post">
  <label>PREVIOUS DATE:</label>
  <label><%=game.date.month%> <%=game.date.day%> <%=game.date.time%></label><br><br><br>

  <label>NEW MONTH of GAME:</label>
  <select name="date[month]">
    <option value="January">January</option>
    <option value="February">February</option>
    <option value="March">March</option>
    <option value="April">April</option>
    <option value="May">May</option>
    <option value="June">June</option>
    <option value="July">July</option>
    <option value="August">August</option>
    <option value="September">September</option>
    <option value="October">October</option>
    <option value="November">November</option>
    <option value="December">December</option>
  </select><br>

  <label>NEW DAY of GAME:</label>
  <select name="date[day]">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
  </select><br>

  <label>NEW TIME of GAME:</label>
  <select name="date[time]">
    <option value="6:15pm">January</option>
    <option value="6:30pm">February</option>
    <option value="7:30pm">March</option>
    <option value="9:00pm">March</option>
  </select><br><br>

  <label>PREVIOUS FIELD: <%=game.field%></label><br>
  <label>NEW FIELD:</label>
  <select name="field">
    <option value="Field One">Field One</option>
    <option value="Field One">Field Two</option>
    <option value="Field One">Field Three</option>
  </select><br><br>

  <label>PREVIOUS HOME TEAM:</label>
  <label><%=game.home%></label><br>
  <label>NEW HOME TEAM:</label>
  <select name="home" value="Home Team">
    <% teams.forEach(function(team){ %>
      <option value="<%=team.name%>"><%=team.name%></option>
      <% }); %>
    </select><br><br>


    <label>PREVIOUS AWAY TEAM:</label>
    <label><%=game.away%></label><br>
    <label>NEW AWAY TEAM:</label>
    <select name="away" value="Home Team">
      <% teams.forEach(function(team){ %>
        <option value="<%=team.name%>"><%=team.name%></option>
        <% }); %>
      </select><br>

<br><br><br>
      <button type="submit">Save This EDITED Game</button>

    </form>
    <form action="/games/<%=game.id%>?_method=DELETE" method="post">
      <button type="submit">DELETE THIS GAME</button>
    </form>

    <%- include("../partials/footer") %>
