<%- include("../partials/header") %>

<h1>show game page</h1>

<img src="<%= home.image %>" width="100px">
<a href="/teams/<%= home.id %>"><%= home.name %></a>
<p>vs</p>
  <img src="<%= away.image %>" width="100px">
<a href="/teams/<%= away.id %>"><%= away.name %></a>

<h4>
MONTH : <%= monthConvert(Number(game.date.month)) %> -
DATE : <%= game.date.day %> -
TIME : <%= game.date.time %> -
</h4>
<hr>
<h5><%=game%></h5>
<hr>

<h4>Field : <%= game.field %></h4>
<a href="/games">Return to All Games</a>
<br><br>
<a href="/games/<%=game.id%>/edit"><button type="submit">EDIT GAME</button></a>
<br>
<br>

<form action="/games/<%=game.id%>?_method=DELETE" method="post">
  <button type="submit">DELETE THIS GAME</button>
</form>

<%- include("../partials/footer") %>
